.server_img {
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f6f8fa !important;
    box-shadow: none !important;
    width: 50vw;
}

.pile_img {
    max-width: none !important;
    max-height: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f6f8fa !important;
    box-shadow: none !important;
    height: 40vh;
    width: 100%;
}

.safeMessage {
    background: none !important;
    box-shadow: none !important;
    width: 25vw;
}

.doEcho {
    background: none !important;
    box-shadow: none !important;
    max-height: none !important;
    width: 35vw;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sanitizeBuffer {
    background: none !important;
    box-shadow: none !important;
    max-height: none !important;
    width: 30vw;
    position: absolute;
    top: 0;
    bottom: 0;
}

.man {
    width: 40vw;
}
