.title {
    padding-bottom: 40px;
    font-size: 70px;
    font-weight: bold;
}

.ghidra {
    width: 46vh;
    box-shadow: none !important;
    background: none !important;
}

.names {
    padding-top: 30px;
    font-size: 25px;
    margin-bottom: calc((var(--header-level1-height) + var(--header-level2-height) - var(--footer-height)) / 2) !important;;
}
