.Header {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.HeaderLevel1 > span > * {
    opacity: 0.5;
}

.HeaderLevel1, .HeaderLevel2 {
    display: flex;
    align-items: center;
    color: #fff8;
    font-size: var(--header-font-size);
    /*padding: 4px;*/
}

.HeaderLevel1 > * , .HeaderLevel2 > * {
    padding: 0 10px;
    box-sizing: border-box;
}

.HeaderLevel1 {
    height: var(--header-level1-height);
    background-color: var(--header-level1-bg-color);
}

.HeaderLevel2 {
    height: var(--header-level2-height);
    background-color: var(--header-level2-bg-color);
}

.selected {
    /*background-color: #3335;*/
    color: white;
}

.selected > span > * {
    opacity: 1;
}
