.Footer {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--footer-bg-color);
    font-size: var(--footer-font-size);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
    padding: 0 10px;
    box-sizing: border-box;
}

.slideIndex {
    font-size: var(--footer-font-size);
}
