.ghidra {
    background: none !important;
    box-shadow: none !important;
    height: 25vh;
}

.payload {
    font-size: 13px !important;
    text-align: center !important;
    box-shadow: none !important;
    background: none !important;
}

.payload_transmission {
    background-color: #bbb;
}

.payload_payload {
    background-color: #ffff00;
}

.payload_data {
    background-color: #ff2c2d;
}

.payload_unknown {
    background-color: #17ff2e;
}

.legend {
    display: flex;
    font-size: 14px;
    width: 50%;
}

.legend > * {
    flex: 1;
}

.binsh {
    background: none !important;
    box-shadow: none !important;
    max-height: none !important;
    width: 25vw;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 50px !important;
}